.main-text{
  position: absolute;
  top: 144px;
  font-size: 28px;
  font-family: 'Inter', sans-serif;
}

.sub-text{
  position: absolute;
  width: 442px;
  top: 180px;
  left: 563px;
  font-family: 'Inter', sans-serif;
}

.sub-text-1{
  font-weight: 600;
  font-size: 13.5px;
  line-height: 16.34px;
}

.sub-text-2{
  font-size: 12.5px;
  line-height: 15.13px;
}

.resend-button{
  font-size: 12.5px;
  position: absolute;
  top: 252px;
  width: 200px;
  background-color: #8499FE;
  height: 40px;
  font-family: 'Inter', sans-serif;
  }